@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Roboto:100,300,400,500|Satisfy');
a,
a:hover,
a:focus {
  text-decoration: none !important;
  outline: none!important;
}

body {
  color: #fff;
  padding: 40px;
  font-family: 'Roboto', sans-serif;
}

.head {
  text-align: center;
  font-weight: 300;
  text-shadow: none;
}

@font-face {
  font-family: 'craft';
  src: url('../fonts/myfont/FFF_Tusj.ttf') format('truetype');
}
.craft {
  font-family: 'craft';
}

h1{
  font-size: 30px;
  font-weight: 200;
}

body, h1,h2,h3, p{
  margin:0;
  padding:0;
}

.terbot {
  font-family: 'Black Ops One', cursive;
}

.gradientCont{
  background: #7d1aff;
  background: -webkit-linear-gradient(bottom,#fff 60%,#7d1aff 5%);
  background: -moz-linear-gradient(bottom,#fff 60%,#7d1aff 5%);
  background: -o-linear-gradient(bottom,#fff 60%,#7d1aff 5%);
  background: linear-gradient(bottom,#fff 60%,#7d1aff 5%);
  width:100%;
  /* height: 200px; */
}

.mainCont{
  width: 60%;
  margin: 0 auto;
}

.mainCont h2{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 48px;
  margin: 60px 0 0 0;
  color: white;
  opacity: 0;
}

.mainCont h3{
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  color: rgba(255,255,255,0.75);
  margin: 0 0 60px 0;
  opacity: 0;
}

.terminalCont{
  background: #000;
  width: 100%;
  border-radius: 0px;
  padding: 12px 0 0 0;
  font-family: 'Roboto Mono', monospace;
  /* height: 100%; */
  border-radius: 0 0 4px 4px;
}

.userEnteredText{
  color: rgba(255,255,255,0.5);
  margin: 0;
  padding: 0;
  display: inline-block;
}

#terminalResultsCont{
  background: #000;
  width: 100%;
  height: 350px;
  padding: 12px;
  overflow-y: auto;
  resize: none;
  border: none;
  font-size: 14px;
  line-height: 28px;
  display: block;
  color: rgba(255,255,255,0.9);
}

#terminalResultsCont a{
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}

#terminalResultsCont a:hover{
  text-decoration: underline;
}

#terminalTextInput{
  background: black;
  display: block;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-radius: 0 0 4px 4px;
  width: 60%;
  color: white;
  padding: 18px;
  font-size: 14px;
  outline: none;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
}

/* Make me responsive */
@media screen and (max-width: 768px){
  .mainCont{
    width: 90%;
    padding: 0 0;
  }
  .mainCont h2{
    font-size: 32px;
    margin: 40px 0 0 0;
  }
  .mainCont h3{
    font-size: 16px;
    margin: 0 0 40px 0;
  }
  #terminalReslutsCont{
    height: 100%;
  }
  .bar,
  #terminalTextInput {
    width: 90% !important;
  }
}

.bar {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background: #f5f5dc;
  width: 60%;
  margin: 0px auto;
  padding: 3px 10px;
  border-radius: 4px 4px 0 0;
}

.bubble {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  display: inline-block;
  margin-right: .3rem;
  cursor: pointer;
}

.bubble:hover {
  opacity: .6;
}

.bar .red {
  background: #ea423f;
}

.bar .yellow {
  background: #efb62c;
}

.bar .green {
  background: #7ab300;
}

.angry {
  position: absolute;
  left: 0;
  top: 50%;
  display: none;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px;
}

.foo-txt {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Satisfy', cursive;
  text-shadow: none;
  color: #272727;
}

.fa-heart {
  color: #fb2323;
}

/* Spinner */
.spinner {
  z-index: 10;
  position: absolute;
  margin-top: 20px;
  margin-left: 5px;
  display: none;
}
.ascii-spinner-layout {
  opacity: 0;
  position: absolute;
  margin-left: 65px;
  margin-right: auto;
  left: 0;
  right: 0;
  color: #999;
}
.ascii-spinner-1 {
  opacity: 0;
  position: absolute;
  margin-right: auto;
  color: #fff;
  animation: loading-1 500ms ease-in infinite;
  -webkit-animation: loading-1 500ms ease-in infinite;
  -moz-animation: loading-1 500ms ease-in infinite;
  -o-animation: loading-1 500ms ease-in infinite;
}
.ascii-spinner-2 {
  opacity: 0;
  position: absolute;
  margin-right: auto;
  color: #fff;
  -webkit-animation: loading-2 500ms ease-in infinite;
  -moz-animation: loading-2 500ms ease-in infinite;
  -o-animation: loading-2 500ms ease-in infinite;
  animation: loading-2 500ms ease-in infinite;
}
.ascii-spinner-3 {
  opacity: 0;
  position: absolute;
  margin-right: auto;
  color: #fff;
  -webkit-animation: loading-3 500ms ease-in infinite;
  -moz-animation: loading-3 500ms ease-in infinite;
  -o-animation: loading-3 500ms ease-in infinite;
  animation: loading-3 500ms ease-in infinite;
}
.ascii-spinner-4 {
  opacity: 0;
  position: absolute;
  margin-right: auto;
  color: #fff;
  -webkit-animation: loading-4 500ms ease-in infinite;
  -moz-animation: loading-4 500ms ease-in infinite;
  -o-animation: loading-4 500ms ease-in infinite;
  animation: loading-4 500ms ease-in infinite;
}

.img_vid {
  position: absolute;
  top: 200px;
  width: 270px;
  height: 400px;
  overflow: auto;
}

.img_vid::-webkit-scrollbar {
  width: 8px;
}

.img_vid::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 1px #7d1aff;
  border-radius: 10px;
}

.img_vid::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8bb6ac;
  -webkit-box-shadow: inset 0 0 6px #7d1aff;
}

.res_star{
  margin-bottom: 5px;
  margin-top: 10px;
}

.res_star span {
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
}

/* Restaurant */
.restaurant_div {
  color: black;
  padding: 10px;
}

.item_slider {
  width: 550px;
  margin-left: 20px;
}

.res_list_div {
  padding: 10px;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}

.res_name {
  font-size: 14px;
  color: #f98e1d;
  margin-bottom: 5px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.res_bg {
  height: 110px;
  background-size: cover !important;
  background-position: center !important;
  margin-bottom: 5px;
}

.res_type {
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.slick-slide:focus {
  outline: none !important;
}
/* Restaurant end */

/* Suggestions */
#suggestion {
  position: absolute;
  margin-top: 70px;
}

#suggestion span {
  background: #2196F3;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 10px;
}
/* Suggestions */


/* Keyframes */
@-webkit-keyframes loading-1 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loading-1 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading-1 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-1 {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loading-2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading-2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-2 {
  0% {
    opacity: 0;
  }
  24% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loading-3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading-3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-3 {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes loading-4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes loading-4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes loading-4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading-4 {
  0% {
    opacity: 0;
  }
  74% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Keyframes end */
